.card_wrap {
  position: absolute;
  top: 24%;
  left: 30vw;
  width: 40vw;
}

small {
  color: red;
  font-size: 9px;
}

mat-card-header {
  text-align: center;
  font-size: 24px;
}

mat-card-actions {
  text-align: center;
}

mat-card-title {
  font-size: 18px !important;
  margin-bottom: 24px;
}

p {
  text-align: center;
  font-size: 12px;
  margin-top: 5vh;
}

button {
  width: 50%;
}

.mat-success {
  background-color: green;
  color: #fff;
}

mat-form-field {
  width: 100%;
}

.mat-card-actions {
  margin-bottom: 8px !important;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 1px 20px -1px rgba(0,0,0,.2), 0 1px 2px 0 rgba(0,0,0,.14), 0 1px 1px 0 rgba(0,0,0,.12);
}
