.info-text {
  text-align: center;
}

#lab_name {
  font-weight: 400;
  padding-right: 24px;
}

.lab_number {
  width: 18%;
}

.add_new_lab mat-expansion-panel{
  background: rgb(253, 242, 242);
}

.crss_labs mat-expansion-panel {
  background: rgb(237, 250, 238);
}

mat-paginator {
  margin-top: 1vh;
}

mat-action-row button {
  margin: auto;
  width: 50%;
}

.lab_panel_header h4 {
  margin: auto;
}

.lab_list {
  margin-top: 18px;
  padding: 0 12px;
  max-height: min-content;
  height: calc(100vh - 225px);
  overflow: auto;
  -moz-box-shadow:    5px 3px 10px 4px #ccc;
  -webkit-box-shadow: 5px 3px 10px 4px #ccc;
  box-shadow:         5px 3px 10px 4px #ccc;
}

.mat-expansion-panel-header.mat-expanded #lab_name {
  font-weight: 600;
  margin: 40px auto;
  transition: 2s;
}

.mat-expansion-panel {
  width: 93%;
  margin: 8px auto;
}

.lab_is_open {
  opacity: .9;
  position: absolute;
  top: 64px;
  z-index: 90;
  height: calc(100vh - 100px);
  width: 85%;
  overflow: auto;
  margin: 1% -20px;
}

.lab_is_open mat-expansion-panel {
  position: absolute;
  width: 100%;
}

.lab_is_open .mat-expansion-panel-header .tooltiptext {
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: rgb(245, 21, 21);
  border: none;
  display: block;
  margin: auto 0;
  cursor: pointer;
}

.close_icon {
  font-size: 28px;
}

.tooltiptext {
  display: none;
}

::ng-deep .lab_is_open .mat-expansion-indicator::after {
  display: none !important;
}

.hide_panel {
  display: none;
}

.mat-success {
  background-color: green;
  color: #fff;
}

.mat-form-field, input {
  margin: 18px 0;
  width: 100%;
}

.lab_info form, .lab_info {
  margin-top: 4%;
}

.lab_info form textarea {
  font-size: 18px;
  color: rgb(1, 10, 138)
}
